* {
    transition: all 0.5s cubic-bezier(0.685, 0.0473, 0.346, 1);
}

#inner-container {
    background-color: white;
}

#outer-container {
    min-height: 100vh;
    background-color: #d0dae7;
    padding-left: 15%;
    padding-right: 15%;
}

h2 {
    padding: 2% 2% 0 2%;
}
